<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div class="container">
    <div class="title">Edit User Details</div>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" id="fullname" name="fullname" value="{{ user.fullname }}" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" id="email" name="email" value="{{ user.email }}" required>
                </div>
                <div class="input-box">
                    <span class="details">password</span>
                    <input type="password" id="password" name="password" value="{{ user.password }}" required>
                    <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
                <div class="input-box">
                    <span class="details">Mobile</span>
                    <input type="number" id="mobile" name="mobile" value="{{ user.mobile }}" required oninput="validatemobileinput(this)">
                </div>
                <div class="input-box">
                    <span class="details">Gender</span>
                    <select id="gender" name="gender" required>
                        <option value="Male" {% if user.gender == 'Male' %}selected{% endif %}>Male</option>
                        <option value="Female" {% if user.gender == 'Female' %}selected{% endif %}>Female</option>
                        <option value="Other" {% if user.gender == 'Other' %}selected{% endif %}>Other</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">City</span>
                    <input type="text" id="city" name="city" value="{{ user.city }}" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Save Changes">
            </div>
        </form>
    </div>
    <div class="footer">
        <p>Go back to <a href="{% url 'home' %}">Home page</a></p><br>
    </div>
</div>

<script>
     function validatemobileinput(input) {
     const value = input.value;

     if (value.length > 10)
         input.value = value.slice(0, 10);
     if (value === '0000000000') {
         alert('All zeros are not accepted');
         input.value = '';
     }
 }

      document.querySelector(".toggle-password").addEventListener("click", function() {
    const passwordInput = document.getElementById("password");
    const fieldType = passwordInput.getAttribute("type");
    if (fieldType === "password") {
      passwordInput.setAttribute("type", "text");
      this.classList.remove("fa-eye");
      this.classList.add("fa-eye-slash");
    } else {
      passwordInput.setAttribute("type", "password");
      this.classList.remove("fa-eye-slash");
      this.classList.add("fa-eye");
    }
  });
</script>
</body>
</html>
