<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
       .popup-message {
            display: none;
            position: fixed;
            top: 22%;
            right: 25%;
            background-color: #4caf50;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="title">Login</div>
        {% if error_message %}
            <p style='color:red'>{{ error_message }}</p>
        {% endif %}
      <div id="popup-message" class="popup-message"></div>
      <div class="content">
        <form method="post" enctype="multipart/form-data" action="">
          {% csrf_token %}
          <div class="user-details">
            <div class="input-box">
              <span class="details">Username</span>
              <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" id="password" name="password"  placeholder="Enter your password" required>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Login">
          </div>
        </form>
      </div>
      <div class="footer">
        <p>Forgot your password? <a href="{% url 'forgotpwd' %}">Click here</a></p>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
      </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% if message %}
            showPopupMessage("{{ message }}");
            {% endif %}
        });

        function showPopupMessage(message) {
            const popup = document.getElementById('popup-message');
            popup.innerText = message;
            popup.style.display = 'block';
            setTimeout(() => {
                popup.style.display = 'none';
            }, 3000);
        }
    </script>
  </body>
</html>
