<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div class="container">
    <div class="title">Sign Up</div>
    {% if error_message %}
    <p style='color:red'>{{ error_message }}</p>
    {% endif %}
    <div class="content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name <span style="color:red">*</span></span>
                    <input type="text" id="fullname" name="fullname" placeholder="Enter your full name"  minlength="3" required>
                </div>
                <div class="input-box">
                    <span class="details">Username <span style="color:red">*</span></span>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <span class="details">Email <span style="color:red">*</span></span>
                    <input type="email" id="email" name="email" placeholder="Enter your email"  required>
                </div>
                <div class="input-box">
                    <span class="details">Password <span style="color:red">*</span></span>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
                <div class="input-box">
                    <span class="details">Mobile <span style="color:red">*</span></span>
                    <input type="number" id="mobile" name="mobile" placeholder="Enter your mobile number" required
                           oninput="validatemobileinput(this)">
                </div>
                <div class="input-box">
                    <span class="details">Profile Image <span style="color:red">*</span></span>
                    <input type="file" id="img" name="img" accept="image/*" required>
                </div>
                <div class="input-box">
                    <span class="details">Gender</span>
                    <select id="gender" name="gender" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">City <span style="color:red">*</span></span>
                    <input type="text" id="city" name="city" placeholder="Enter your city" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </div>
    <div class="footer">
        <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
    </div>
</div>
<script>
    function validatemobileinput(input) {
     const value = input.value;

     if (value.length > 10)
         input.value = value.slice(0, 10);
     if (value === '0000000000') {
         alert('All zeros are not accepted');
         input.value = '';
     }
 }




     document.querySelector(".toggle-password").addEventListener("click", function() {
     const passwordInput = document.getElementById("password");
     const fieldType = passwordInput.getAttribute("type");
     if (fieldType === "password") {
       passwordInput.setAttribute("type", "text");
       this.classList.remove("fa-eye");
       this.classList.add("fa-eye-slash");
     } else {
       passwordInput.setAttribute("type", "password");
       this.classList.remove("fa-eye-slash");
       this.classList.add("fa-eye");
     }
   });
</script>
</body>
</html>
