
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.product {
    display: inline-flex;
    margin-bottom: 30px;
    padding: 40px;
}
.product img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.product-details {
    padding: 10px 0;
}
.product-details h3 {
    margin-bottom: 5px;
}
.price {
    font-weight: bold;
    color: #333;
}
.add-to-cart-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.add-to-cart-btn:hover {
    background-color: #0056b3;
}
.popup-message {
    display: none;
    position: fixed;
    top: 30px;
    right: 15%;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.products-links{
    display: flex;
}

.products-links .product-menu {
   width: 50%;
   display: inline-block;
}

.products-links .search_bar {
    width: 50%;
    display: inline-block;
    text-align: right;
 }


.products-links .product-menu a {
    margin-right: 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}



.products-links .product-menu .activeClass{
    color: green;
    text-decoration: underline;
}


